apps/student.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Thu Oct 25 2018 14:01:09 GMT+0700 (Indochina Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="student">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="id" type="xs:int"></xs:element>
                           <xs:element name="name" type="xs:string"></xs:element>
                           <xs:element name="hobbits">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="hobbit" maxOccurs="unbounded" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="sports">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="sport" maxOccurs="unbounded" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>